---
import Head from "@/components/Head.astro";
import Footer from "@/components/footers/Footer.astro";
import Navigation from "@/components/headers/Navigation.astro";
import LinesWrapper from "@/components/primitives/LinesWrapper.astro";
import LoadingIndicator from "@/components/primitives/LoadingIndicator.astro";
import { getLocalizedSettings } from "@/lib/localization-helpers";
import type { SEOProps } from "astro-seo";

const currentLocale = Astro.currentLocale;

type Props = {
	seo?: SEOProps | MinimalSeo;
};

const { seo } = Astro.props;

export const version: string = __VERSION__;
---

<html lang={currentLocale} data-version={version}>
	<Head seo={seo}>
	</Head>
	<body>
		<LoadingIndicator />
		<LinesWrapper />
		<!-- <Navigation showTopBar /> -->
		<slot />
		<Footer />
	</body>
</html>

<script>
	const version = document.documentElement.dataset.version;
	// eslint-disable-next-line no-console
	console.log(`Version: ${version as any}`);
</script>
